body {
  margin: 0;
  padding: 0;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  padding: 1rem;
  background-color: rgba(0,0,0,0.2);
  text-align: right;
}

#nav h1 {
  float: left;
  margin: 0;
  font-size: 1rem;
}

#nav ul,
#nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul a,
#nav ul strong {
  display: inline-block;
  margin-left: 0.5rem;
}

#header {
  padding: 4rem 0;
  background-color: rgba(0,0,0,0.05);
}

#header h1 {
  margin: 0;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 3rem;
  font-style: italic;
}
